html,body{
    height: 100%;
    margin: 0;
  }

  
  button{

    font-size: 14px;
    font-family: 'source Sance Pro', sans-serif;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    padding: 0.5%;
    background-color: lightskyblue;
    color: white;
  }
  .inputSend{
    font-size: 14px;
    font-family: 'source Sance Pro', sans-serif;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    padding: 0.5%;
    background-color: lightskyblue;
    color: white;
  }
  
  /* holds the header navigation */
  .navigationBar{
      list-style-type: none;
      margin-top: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
  }
  /* Defines Li  */
  .navigationList{
  float: left;
  }
  
  .navigationText{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    }
    .navigationText:hover{
      background-color: #333;
    }
  
  
    .pageStructure{
      display: block;
      border: 1px solid black;
      min-height: 100%;
      margin-top: 2.5;
      margin-left: 13%;
      margin-right: 13%;
      margin-bottom: 5px;
      text-overflow: clip;
      overflow: hidden;
    
    }
    .exerciseDiv{
      margin-left: 2%;
      
    }
    
    .video-wrapper {
      overflow: hidden;
    }
    
    .video-wrapper .controls {
      position: absolute;
      height:30px;
      width:30px;
      margin: auto;
      background: rgba(0,0,0,0.5);
    }
  
    .video-wrapper button {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      cursor: pointer;
      font-size: 17px;
      font-family: arial;
      color: #fff;
      background: transparent;
    }
    
    .video-wrapper button[paused] {
      font-size: 12px;
    }
    footer{
      background-color: black;
      color: white;
      display: flex;
      flex-flow: row;
      min-height: 200px;
    }
    footer > article {
      border: 1px solid white;
      flex: 1;
      min-height: 175px;
      min-width: 200px;
      padding: 10px;
      text-align: center;
  }
  article{
    display: block;

  }
  .cinema{
    background-color: black;

  }
  .videoMain{
    display: flex;
    width: 90%;
    justify-content: center;
  }
  .videoSecond{
    width: 40%;
    margin: 5%;
    justify-content: center;

  }
  .videoDiv{
    display: flex;
  }

